@import url("https://googledrive.com/host/0BxmAw3HA4YGCfk5LdE5KZ1AyQXFuYTBDVm8xQVp2OW91YVRGZW1ySHlDbmlaNE5CRlBERlU/seoul-namsan-jung-b.css");

body { margin: 0; font-family:'Nanum Gothic'; font-size: 18px; font-family: seoul-namsan-jung-b; }
div, header, footer, section, nav { position: relative;}
img { vertical-align: top; max-width: 100%; }
ul { margin: 0; }
li { list-style: none; }

header { width: 100%; }
header .header_top { border-bottom: 1px solid #484848; }
header .inner { width: 990px; height: 88px; margin: 0 auto; }
header .header_top .logo { position: absolute; top: 20px; left: 50%; transform: translateX(-50%); width: 97px; font-size: 40px; color: #2b3735; font-weight: bold; font-family:'Nanum Gothic'; }
header .header_top .logo span { color: #88b04b; }
header .header_top .search { float: right; margin-top: 28px; }
header .header_top .hsearch { position: absolute; top: 6px; right: 6px; cursor: pointer; }
header .gnb { border-bottom: 1px solid #484848; }
header .gnb .inner { height: 48px; }
header .gnb li { float: left; width: 20%; text-align: center; line-height: 45px; color: #2b3735; font-weight: bold; }
header .gnb li .txt { display: inline-block; cursor: pointer; }
header .gnb li .txt:hover { color: #88b04b; }

footer { border-top: 2px solid #8e8e8e; }
footer .inner { width: 880px; margin: 0 auto; padding: 12px 0 15px; }
footer .logo { font-size: 70px; color: #2b3735; font-weight: bold; font-family:'Nanum Gothic'; display: inline-block; }
footer .logo span { color: #88b04b; }
footer .txt { font-size: 13px; color: #333333; display: inline-block; float: right; margin-top: 18px; }

.inner { width: 990px; margin: 0 auto; }
.main .contents { width: 720px; display: inline-block; }
.main .contents .main_slider { width: 700px; height: 184px; margin-top: 10px; overflow: hidden; }
.main .contents .main_slider .main_slider_inner { position: absolute; width: 700px; height: 2000px; }
.main .contents .circle_wrap { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 12px; }
.main .contents .circle_wrap .slide_circle { width: 12px; height: 12px; border-radius: 6px; background-color: #fff; cursor: pointer; margin-bottom: 10px; }
.main .contents .circle_wrap .slide_circle:last-child { margin-bottom: 0; }
.main .contents .circle_wrap .circle_sel { background-color: #9abc66; }
.main .contents .rec { margin-top: 10px; }
.main .contents .rec .tit { margin-bottom: 10px; }
.main .contents .tit .circle { width: 10px; height: 10px; border-radius: 5px; background-color: #88b04b; float: left; margin: 6px 5px 0 0; }
.main .contents .tit .txt { font-size: 15px; color: #2b3735; }
.main .contents .container { width: 700px; height: 150px; border: 1px solid #989898; }
.main .contents .rec .container .sub_tit { position: absolute; top: 5px; left: 12px; font-size: 13px; color: #2b3735; display: inline-block; border-bottom: 2px solid #88b04b; line-height: 22px; }
.main .contents .rec .container .rec_slider { width: 565px; height: 130px; overflow: hidden; margin: 0 auto; top: 50%; transform: translateY(-50%); }
.main .contents .rec .container .arrow_wrap { position: absolute; top: 50%; left: 50%; transform: translate3d( -50%, -50%, 0); width: 88%; height: 26px; }
.main .contents .rec .container .arrow_wrap .arrow { float: left; cursor: pointer; }
.main .contents .rec .container .arrow_wrap .next { float: right; }
.main .contents .rec .container .rec_slider .rec_slider_inner { position: absolute; width: 5000px; height: 130px; }
.main .contents .rec .container .rec_slider .rec_slider_inner .rec_slide { float: left; margin-right: 12px; }
.main .contents .rec .container .rec_slider .rec_slider_inner .rec_slide .img { width: 180px; height: 105px; background-color: orange; }
.main .contents .rec .container .rec_slider .rec_slider_inner .rec_slide .txt { font-size: 15px; text-align: center; margin-top: 5px; }
.main .contents .info { margin-top: 10px; }
.main .contents .info .tit { margin-bottom: 10px; }
.main .contents .info .container .txt_wrap { padding: 2px 0; }
.main .contents .info .container .dot { width: 6px; height: 6px; border-radius: 3px; background-color: #050505; float: left; top: 50%; margin: 11px 15px 0 25px; }
.main .contents .info .container .txt { font-size: 15px; color: #2b3735; cursor: pointer; display: inline-block; }
.main .contents .info .container .txt:hover { color: #88b04b; text-decoration: underline; }
.main .contents .info .choice { width: 702px; height: 37px; background-image: url(../img/back_01.png); margin-top: 10px; }
.main .contents .info .choice select { width: 143px; height: 21px; margin: 8px 0 0 12px; text-align: center; }
.main .contents .info .choice .search_box { width: 42px; height: 21px; background-color: #2d3937; cursor: pointer; float: right; margin: 8px 12px 0 0; }
.main .contents .info .choice .search_box .txt { font-size: 13px; color: #fff; text-align: center; }
.main .contents .info .elem { border-right: 1px solid #d5d5d5; }
.main .contents .info .info10 { width: 235px; display: table-cell; }
.main .contents .info .info10 .tit_wrap .txt { font-size: 19px; color: #2b3735; text-align: center; margin-top: 10px; }
.main .contents .info .info10 .tit_wrap .underline { width: 35px; height: 2px; background-color: #88b04b; margin: 5px auto 0; }
.main .contents .info .info10 .academy { border-bottom: 1px solid #e3e3e3; width: 220px; margin: 20px auto 0; }
.main .contents .info .info10 .academy:last-child { border: none; }
.main .contents .info .info10 .academy .number { width: 17px; font-size: 14px; color: #2b3735; float: left; }
.main .contents .info .info10 .academy .img_wrap { display: inline-block; }
.main .contents .info .info10 .academy .img_wrap .sub { font-size: 14px; color: #2b3735; text-align: center; margin: 10px 0; letter-spacing: -1px; }
.main .contents .info .info10 .big .img_wrap .img { width: 195px; height: 127px; background-color: #ff3f3f; font-size: 25px; color: #fff; text-align: center; line-height: 70px; }
.main .contents .info .info10 .big .img_wrap .name { font-size: 16px; color: #2b3735; text-align: center; font-weight: bold; margin-top: 10px; letter-spacing: -1px; }
.main .contents .info .info10 .mid .img_wrap .img { width: 195px; height: 50px; background-color: #ff3f3f; font-size: 25px; color: #fff; text-align: center; }
.main .contents .info .info10 .low { margin: 10px auto 0; padding-bottom: 10px; }
.main .contents .info .info10 .low .txt { font-size: 15px; color: #2b3735; text-align: center; }
.main .contents .info > .mid { background-color: #f7f7f7; border-right: 1px solid #d5d5d5; }

.main aside { width: 270px; float: right; }
.main aside .login_wrap { width: 100%; border-bottom: 1px solid #6c6c6c; margin-top: 15px; }
.main aside .login_wrap .logo { font-size: 29px; opacity: 0.7; text-align: center; }
.main aside .login_wrap .logo span { color: #88b04b; }
.main aside .login_wrap .login_box { width: 262px; height: 60px; margin: 0 auto; }
.main aside .login_wrap .id_box { width: 206px; display: inline-block; }
.main aside .login_wrap .id { width: 100%; height: 27px; display: inline-block; }
.main aside .login_wrap .id input { width: 100%; height: 24px; border: 1px solid #a4a4a4; }
.main aside .login_wrap .pw input { border-top: none; }
.main aside .login_wrap .submit { float: right; width: 55px; height: 55px; background-color: #f9f9f9; margin-top: 2px; }
.main aside .login_wrap .submit input { width: 100%; height: 100%; font-size: 15px; color: #797979; padding: 0;  cursor: pointer; }
.main aside .login_wrap .txt_wrap { width: 200px; font-size: 13px; color: #797979; margin: 15px auto; }
.main aside .login_wrap .txt_wrap .txt { display: inline-block; cursor: pointer; }
.main aside .login_wrap .txt_wrap .txt:last-child { float: right; }
.main aside .login_wrap .check_box { width: 220px; height: 18px; margin: 0 auto 10px; }
.main aside .login_wrap .check_box .check { font-size: 14px; color: #797979; float: left; }
.main aside .login_wrap .check_box .check:last-child { float: right; }
.main aside .login_wrap .check_box .check input { width: 12px; height: 12px; }
.main aside .login_wrap .check_box .check .txt { float: right; line-height: 14px; }

.main aside .board_wrap { width: 100%; border-bottom: 1px solid #6c6c6c; margin-top: 15px; }
.main aside .board_wrap .tit_wrap { width: 262px; margin: 0 auto; }
.main aside .board_wrap .tit_wrap .tit { display: inline-block; width: 110px; height: 28px; }
.main aside .board_wrap .tit_wrap .tit .txt { font-size: 15px; float: left; margin-top: 4px; }
.main aside .board_wrap .tit_wrap .more { font-size: 10px; float: right; cursor: pointer; margin-top: 7px; }
.main aside .board_wrap .txt_box { width: 262px; margin: 10px auto; border: 2px solid #88b04b; }
.main aside .board_wrap .txt_box .txt_wrap { width: 220px; margin: 9px auto; }
.main aside .board_wrap .txt_box .dot { width: 6px; height: 6px; border-radius: 3px; background-color: #050505; float: left; margin: 7px 5px 0 0; }
.main aside .board_wrap .txt_box .dot.green { background-color: #88b04b; }
.main aside .board_wrap .txt_box .txt { width: 209px; font-size: 13px; color: #2b3735; font-weight: bold; display: flex; }
.main aside .board_wrap .txt_box .txt.green { color: #88b04b; }
.main aside .banner { width: 262px; margin: 10px auto; }
.main aside .chat_wrap { width: 262px;  background-image: url(../img/chat_back.png); margin: 0 auto; }
.main aside .chat_wrap .tit_wrap { width: 109px; margin: 0 auto; padding: 10px 0; }
.main aside .chat_wrap .tit_wrap .img { width: 24px; height: 20px; float: left; margin-right: 4px; }
.main aside .chat_wrap .tit_wrap .txt { font-size: 13px; color: #2d3937; font-weight: bold; }
.main aside .chat_wrap .txt_box { width: 238px; height: 290px; margin:0 auto; border: 1px solid #999999; background-color: #fff; }
.main aside .chat_wrap .txt_box .txt { width: 225px; margin: 5px auto 0; font-size: 14px; color: #2d3937; font-weight: bold; }
.main aside .chat_wrap .txt_box span { font-size: 13px; color: #88b04b; }
.main aside .chat_wrap .submit_wrap { width: 240px; margin: 0 auto; padding: 10px 0; }
.main aside .chat_wrap .submit_wrap .txt { float: left; width: 198px; height: 30px; }
.main aside .chat_wrap .submit_wrap .txt input { width: 100%; height: 100%; font-size: 10px; color: #3b4644; }
.main aside .chat_wrap .submit_wrap .submit { width: 40px; height: 36px; display: flex; }
.main aside .chat_wrap .submit_wrap .submit input { background-color: #999999; color: #ffffff; font-size: 13px }
.main aside .chatter_wrap .tit_wrap .tit .txt { margin-top: 7px; }
