<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>

	<context:component-scan base-package="main"/>
<!-- 	<context:component-scan base-package="websocket"/> -->
	<context:component-scan base-package="member"/>
	<context:component-scan base-package="academy"/>
	<context:component-scan base-package="worry"/>
	<context:component-scan base-package="notice"/>
	<context:component-scan base-package="admin"/>
	<context:component-scan base-package="highExam"/>
	<context:component-scan base-package="univExam"/>
	<context:component-scan base-package="search"/>
	<context:component-scan base-package="review"/>
	<context:component-scan base-package="waggle"/>
	<context:component-scan base-package="info"/>
	
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
		id="beanNameViewResolver" p:order="2" />
		
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver" p:order="9">
		<property name="prefix" value="/WEB-INF/view" />
	</bean>
	
	<!-- 오라클 DB 연동 -->
<!-- 	<bean class="org.apache.tomcat.jdbc.pool.DataSource" id="dataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" /> -->
<!-- 		<property name="username" value="gd" /> -->
<!-- 		<property name="password" value="gd" /> -->
<!-- 	</bean> -->

	<!-- mysql DB 연동 -->
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/gd"/>
        <property name="username" value="gd"/>
        <property name="password" value="gd"/>
    </bean>

	<!-- mysql 웹db 연동 -->
<!-- 	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource"> -->
<!--         <property name="driverClassName" value="com.mysql.jdbc.Driver"/> -->
<!--         <property name="url" value="jdbc:mysql://localhost:3306/aiden9999"/> -->
<!--         <property name="username" value="aiden9999"/> -->
<!--         <property name="password" value="bluecat123"/> -->
<!--     </bean> -->
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mapper/*</value>
			</list>
		</property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<bean
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		id="multipartResolver" />
	
<!-- 	<bean class="websocket.socket.ChatSocket" id="chatSocket" /> -->
<!-- 	<websocket:handlers> -->
<!-- 		<websocket:mapping handler="chatSocket" path="/chatSocket/chatSocket"/> -->
<!-- 		<websocket:sockjs/> -->
<!-- 	</websocket:handlers> -->

</beans>
